
.header {
    background: var(--color-blue);
}

.header__wrapper {
    max-width: var(--layout-width-1500);
    margin: 0 auto;

    display: flex;
    justify-content: space-between;
    align-items: center;

    padding-top: 40px;
}

.header__list {
    list-style: none;

    display: flex;
    gap: 32px;
}

.header__link {
    font-size: 18px;
    line-height: 140%;
    color: var(--color-light-white);
}

.header__link:hover {
    color: var(--color-white);
}

.header__logo {
    font-weight: 900;
    font-size: 36px;
    line-height: 140%;
    text-transform: uppercase;
    color: var(--color-white);
}

.header__menu-img {
    display: none;
}

@media (max-width: 1524px) {
    .header {
        padding: 0 24px;
    }
}

@media (max-width: 950px) {
    .header__wrapper {
        border-bottom: 1px solid var(--color-extra-light-white);
    }
    .header__menu-img {
        display: inline;
        cursor: pointer;
    }

    .header__list {
        display: none;
    }

    .header .button {
        display: none;
    }

}