body {
    font-family: "Open Sans", sans-serif;
    max-width: 1440px;
    margin: 0 auto;
    min-height: 100vh;

    background: linear-gradient(225deg, #fdc5c5 25.45%, rgba(242, 152, 222, 0) 100%),
    linear-gradient(225deg, #ffa5a5 33.09%, rgba(255, 255, 255, 0) 82.34%), #f39494;
}

* {
    box-sizing: border-box;
}

.page-wrapper {
    max-width: 582px;
    margin: 225px auto;
    padding: 72px 93px 91px;

    background-color: white;
    border-radius: 10px;
}

.form__header {
    max-width: 383px;
    margin: 0 auto;

    font-weight: 700;
    font-size: 36px;
    text-align: center;
    color: #333;
}

.form__main-wrapper {
    max-width: 394px;
    margin: 0 auto;
}

.form__text {
    margin: 0 0 47px 0;

    font-weight: 400;
    font-size: 18px;
    color: #666;
    text-align: center;
}

.form__link {
    text-decoration: none;
    color: #089fe0;
}

.form__link--first {
    text-decoration: underline;
}

.form__input {
    box-sizing: border-box;
    width: 394px;
    padding: 9px 11px;
    margin: 0 auto 21px;

    background-color: #f5f5f5;
    border: none;
    border-radius: 5px;

    font-weight: 600;
    font-size: 16px;
    color: #333;
}

.form__input::placeholder {
    font-style: italic;
    font-weight: 400;
    font-size: 16px;
    color: #999;
}

.form__input:focus {
    background: #fff;
}

.form__input--name, .form__input--second-name {
    max-width: 194px;
    padding: 9px 0 9px 11px;
}

.form__button {
    box-sizing: border-box;
    width: 394px;
    padding: 9px;
    margin: 0 0 22px 0;

    background: #089fe0;
    border: none;
    border-radius: 5px;

    font-weight: 400;
    font-size: 18px;
    text-align: center;
    color: #fff;
}

.form__terms-text {
    font-weight: 400;
    font-size: 14px;
    color: #666;
}