* {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: "Roboto", sans-serif;
    font-weight: 400;

    background-image: linear-gradient(180deg, #374151 0%, #111827 100%);
}

p {
    margin: 0;
}

.main-wrapper {
    max-width: 1080px;
    margin: 0 auto;
}

.header {
    max-width: 1080px;
    margin: 71px auto 69px;

    display: flex;
    align-items: center;
    gap: 74px;
}

.header__name {
    font-size: 18px;
}

.header__link {
    display: flex;
    align-items: center;
    gap: 11px;

    text-decoration: none;
    color: #fff;
}

.header__link:hover {
    color: lavender;
    text-decoration: underline;
}

.navigation__list {
    display: flex;
    gap: 52px;

    list-style: none;
    margin: 0 269px 0 0;
    padding: 0;
}

.navigation__item {
    font-size: 16px;
}

.navigation__link {
    text-decoration: none;
    color: #fff;
}

.navigation__link:hover {
    color: lavender;
    text-decoration: underline;
}

.search-form {
    position: relative;
}

.search-form__input {
    padding: 9px 49px;
    height: 40px;
    width: 224px;

    background: rgba(31, 41, 55, 0.6);
    border-radius: 100px;
    border: none;
    color: #fff;
}

.search-form__input::placeholder {
    font-size: 16px;
    color: #fff;
    opacity: 0.6;
}

.search-form__button {
    position: absolute;
    top: 14px;
    left: 18px;
}

.search-form__button:hover {
    cursor: pointer;
}

.main {
    max-width: 1080px;

    margin: 0 auto 90px;
}

.article__item {
    display: flex;

    max-width: 186px;
    margin: 0 auto 14px;

    font-size: 14px;
    color: #fff;
    opacity: 0.6;
}

.article__link {
    text-decoration: none;
    color: #fff;
}

.article__tag::after {
    content: "";
    display: inline-block;
    margin: 0 12px;
    width: 4px;
    height: 4px;
    background: rgba(255, 255, 255, 0.6);
    border-radius: 50%;
    vertical-align: middle;
}

.article__header {
    max-width: 525px;
    margin: 0 auto 30px;

    font-size: 24px;
    line-height: 158%;
    text-align: center;
    color: #fff;
    font-weight: 400;
}

.article__author-container {
    display: flex;
    gap: 16px;
    align-items: center;
    justify-content: center;

    max-width: 218px;
    margin: 0 auto 28px;
}

.article__author-name {
    font-size: 16px;
    line-height: 175%;
    color: #fff;
}

.article__author-position {
    font-size: 14px;
    line-height: 200%;
    color: #fff;
    opacity: 0.6;
}

.article__img {
    display: block;
    max-width: 896px;
    margin: 0 auto 69px;

    border-radius: 5px;
}

.article__text-container {
    max-width: 708px;
    margin: 0 auto;
}

.article__text {
    margin: 0 0 45px;

    font-size: 16px;
    line-height: 187%;
    color: #fff;
}

.article__text--first {
    font-size: 20px;
    line-height: 160%;
    color: #fff;
}

.footer__container {
    padding: 0 0 77px 0;

    font-size: 16px;
    line-height: 175%;
    text-align: center;
    color: #fff;
    opacity: 0.6;
}